<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/discuss.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <%- include("header",{title:"评论图书"})%>

        <div class="fanhui">
            <div class="one"  onclick="location.href='novel'">小说<br>列表</div>
            <div class="two"  onclick="location.href='/'">返回<br>首页</div>
            <div class="two"  onclick="history.back()">返回<br>上一级</div>
        </div>
        <div class="big">
           <div class="left">
               <img src="<%-result.image%>" alt="">
           </div>
           <div class="center">
               <h3>图书信息</h3>
               <p id="p01">出版日期：<%-result.pubdate%></p>
               <p id="p02">作者：<%-result.author%></p>
               <p id="p03">书名：<%-result.title%></p>
               <p id="p04">价格: <%-result.price%></p>
               <p id="p05">简介：<%-result.summary%></p>
           </div>
           <div class="right">
               <form  action="/users/submit?id=<%-result.id%>" method="post">
                  
                    <label for="">
                        标题:
                        <input type="text" name="title" placeholder="标题"/>
                    </label><br>
                    <label for="">
                       <h4> 内容:</h4>
                        <textarea name="content" placeholder="请输入内容" rows="20" cols="80" id="content"></textarea>
                    </label>
                    <label for="">
                        <input type="submit" value="提交评论" id="contj"> 
                    </label>
                </form>


           </div>
           

        </div>
        <div class="novelbox">
            <h2>评论列表</h2>
            <ul>
             <% novelbox.forEach((item,index)=>{ %>
                    <li>
                        <div class="rr">
                        <span id="span1">标题：<%- item.pltitle%></span>
                        <span id="span2"><%- item.content%></span>
                        </div>
                        <div class="tt">
                            <p> 发布人：<%- item.username%></p>
                            <p>发布时间：<%- item.time%></p>
                        </div>
                    </li>
            <% }) %>

            </ul>



        </div>





</body>
</html>